<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-itunes-app" content="app-id=1080144824, affiliate-data=website">
  <meta property="fb:app_id" content="109763556075830">
  <meta property="og:title" content="Stereo - your vision trainer">
  <meta content="Stereo" property="og:site_name">
  <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" property="og:description">
  <meta content="article" property="og:type">
  <meta content="http://stereo-app.github.io/assets/level_{{page.level}}.png" property="og:image">
  <meta content="http://www.stereo-app.xyz/{page.language}/level{{page.level}}/" property="og:url">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
